.ordem-compra {
    margin-top: 50px;
    margin-bottom: 100px;
}

button {
    cursor: pointer;
}

button:disabled{
    background-color: #bebdbf;
    cursor: not-allowed;
    border: 1px solid #bebdbf;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;

}

select.ng-invalid.ng-touched {
    border: 1px solid red;

}

input.ng-valid.ng-touched {
    border: 1px solid rgb(12, 212, 12);

}

select.ng-valid.ng-touched {
    border: 1px solid rgb(12, 212, 12);

}

.mensagem{
    text-align: center;
    color: red;
}